# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
# Config Files
*.ini
*.conf
*.toml
.gitignore
# Auxilary folderes
config/
db/
input/
template/
csv/
Reports/
Schedules/
Results/
schedules/
src/controllers/
src/views/

aux/PSSC skater's Own Number 2022.pdf
updatedb.py
root/src/skate/skateprocesses.py
New_Schedule/
skatemeetmanager_initial.sql
docker_setup.sh
src/gui/testgui.py
.gitignore
skatecompetition.db
src/models/age_group_class.py
src/models/age_group.py
src/models/club.py
src/models/competition_age_group_result_detail.py
src/models/competition_age_group_result.py
src/models/competition_skater.py
src/models/competition.py
src/models/gender.py
src/models/heat.py
src/models/lane.py
src/models/race_age_group_result
src/models/race_age_group_result_detail.py
src/models/race_heat_result_detail.py
src/models/race_heat_result.py
src/models/race_heat_schedule_detal.py
src/models/race_heat_schedule.py
src/models/race_style.py
src/models/race.py
src/models/score.py
src/models/skater_team.py
src/models/skater.py
src/models/status.py
src/controller/__init__.py
